<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jvxie.goshop.mapper.GoodsTypeMapper">
  <resultMap id="BaseResultMap" type="com.jvxie.goshop.model.GoodsType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_type_id" jdbcType="BIGINT" property="goodsTypeId" />
    <result column="parent_type_id" jdbcType="BIGINT" property="parentTypeId" />
    <result column="goods_type_name" jdbcType="VARCHAR" property="goodsTypeName" />
    <result column="goods_type_status" jdbcType="INTEGER" property="goodsTypeStatus" />
    <result column="goods_type_sort" jdbcType="INTEGER" property="goodsTypeSort" />
    <result column="type_icon_class" jdbcType="VARCHAR" property="typeIconClass" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_type_id, parent_type_id, goods_type_name, goods_type_status, goods_type_sort, 
    type_icon_class, create_time, update_time, delete_time
  </sql>
  <select id="selectAll" resultType="com.jvxie.goshop.model.GoodsType">
    select
    <include refid="Base_Column_List" />
    from goods_type
    where goods_type_status = 1
    and delete_time is null
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jvxie.goshop.model.GoodsType" useGeneratedKeys="true">
    insert into goods_type (goods_type_id, parent_type_id, goods_type_name, 
      goods_type_status, goods_type_sort, type_icon_class, 
      create_time, update_time, delete_time
      )
    values (#{goodsTypeId,jdbcType=BIGINT}, #{parentTypeId,jdbcType=BIGINT}, #{goodsTypeName,jdbcType=VARCHAR}, 
      #{goodsTypeStatus,jdbcType=INTEGER}, #{goodsTypeSort,jdbcType=INTEGER}, #{typeIconClass,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jvxie.goshop.model.GoodsType" useGeneratedKeys="true">
    insert into goods_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsTypeId != null">
        goods_type_id,
      </if>
      <if test="parentTypeId != null">
        parent_type_id,
      </if>
      <if test="goodsTypeName != null">
        goods_type_name,
      </if>
      <if test="goodsTypeStatus != null">
        goods_type_status,
      </if>
      <if test="goodsTypeSort != null">
        goods_type_sort,
      </if>
      <if test="typeIconClass != null">
        type_icon_class,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsTypeId != null">
        #{goodsTypeId,jdbcType=BIGINT},
      </if>
      <if test="parentTypeId != null">
        #{parentTypeId,jdbcType=BIGINT},
      </if>
      <if test="goodsTypeName != null">
        #{goodsTypeName,jdbcType=VARCHAR},
      </if>
      <if test="goodsTypeStatus != null">
        #{goodsTypeStatus,jdbcType=INTEGER},
      </if>
      <if test="goodsTypeSort != null">
        #{goodsTypeSort,jdbcType=INTEGER},
      </if>
      <if test="typeIconClass != null">
        #{typeIconClass,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>