<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jvxie.goshop.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.jvxie.goshop.model.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="order_cost" jdbcType="DECIMAL" property="orderCost" />
    <result column="order_postage" jdbcType="DECIMAL" property="orderPostage" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="order_pay_time" jdbcType="TIMESTAMP" property="orderPayTime" />
    <result column="order_send_time" jdbcType="TIMESTAMP" property="orderSendTime" />
    <result column="order_end_time" jdbcType="TIMESTAMP" property="orderEndTime" />
    <result column="order_close_time" jdbcType="TIMESTAMP" property="orderCloseTime" />
    <result column="order_pay_type" jdbcType="INTEGER" property="orderPayType" />
    <result column="shipping_name" jdbcType="VARCHAR" property="shippingName" />
    <result column="shipping_phone" jdbcType="VARCHAR" property="shippingPhone" />
    <result column="shipping_province" jdbcType="VARCHAR" property="shippingProvince" />
    <result column="shipping_city" jdbcType="VARCHAR" property="shippingCity" />
    <result column="shipping_district" jdbcType="VARCHAR" property="shippingDistrict" />
    <result column="shipping_address" jdbcType="VARCHAR" property="shippingAddress" />
    <result column="shipping_zip" jdbcType="VARCHAR" property="shippingZip" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, user_id, order_cost, order_postage, order_status, order_pay_time, order_send_time, 
    order_end_time, order_close_time, order_pay_type, shipping_name, shipping_phone, 
    shipping_province, shipping_city, shipping_district, shipping_address, shipping_zip, 
    create_time, update_time, delete_time
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jvxie.goshop.model.Order" useGeneratedKeys="true">
    insert into `order` (order_id, user_id, order_cost,
      order_postage, order_status, order_pay_time, 
      order_send_time, order_end_time, order_close_time, 
      order_pay_type, shipping_name, shipping_phone, 
      shipping_province, shipping_city, shipping_district, 
      shipping_address, shipping_zip, create_time, 
      update_time, delete_time)
    values (#{orderId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{orderCost,jdbcType=DECIMAL}, 
      #{orderPostage,jdbcType=DECIMAL}, #{orderStatus,jdbcType=INTEGER}, #{orderPayTime,jdbcType=TIMESTAMP}, 
      #{orderSendTime,jdbcType=TIMESTAMP}, #{orderEndTime,jdbcType=TIMESTAMP}, #{orderCloseTime,jdbcType=TIMESTAMP}, 
      #{orderPayType,jdbcType=INTEGER}, #{shippingName,jdbcType=VARCHAR}, #{shippingPhone,jdbcType=VARCHAR}, 
      #{shippingProvince,jdbcType=VARCHAR}, #{shippingCity,jdbcType=VARCHAR}, #{shippingDistrict,jdbcType=VARCHAR}, 
      #{shippingAddress,jdbcType=VARCHAR}, #{shippingZip,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jvxie.goshop.model.Order" useGeneratedKeys="true">
    insert into `order`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderCost != null">
        order_cost,
      </if>
      <if test="orderPostage != null">
        order_postage,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="orderPayTime != null">
        order_pay_time,
      </if>
      <if test="orderSendTime != null">
        order_send_time,
      </if>
      <if test="orderEndTime != null">
        order_end_time,
      </if>
      <if test="orderCloseTime != null">
        order_close_time,
      </if>
      <if test="orderPayType != null">
        order_pay_type,
      </if>
      <if test="shippingName != null">
        shipping_name,
      </if>
      <if test="shippingPhone != null">
        shipping_phone,
      </if>
      <if test="shippingProvince != null">
        shipping_province,
      </if>
      <if test="shippingCity != null">
        shipping_city,
      </if>
      <if test="shippingDistrict != null">
        shipping_district,
      </if>
      <if test="shippingAddress != null">
        shipping_address,
      </if>
      <if test="shippingZip != null">
        shipping_zip,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="orderCost != null">
        #{orderCost,jdbcType=DECIMAL},
      </if>
      <if test="orderPostage != null">
        #{orderPostage,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderPayTime != null">
        #{orderPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderSendTime != null">
        #{orderSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderEndTime != null">
        #{orderEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCloseTime != null">
        #{orderCloseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPayType != null">
        #{orderPayType,jdbcType=INTEGER},
      </if>
      <if test="shippingName != null">
        #{shippingName,jdbcType=VARCHAR},
      </if>
      <if test="shippingPhone != null">
        #{shippingPhone,jdbcType=VARCHAR},
      </if>
      <if test="shippingProvince != null">
        #{shippingProvince,jdbcType=VARCHAR},
      </if>
      <if test="shippingCity != null">
        #{shippingCity,jdbcType=VARCHAR},
      </if>
      <if test="shippingDistrict != null">
        #{shippingDistrict,jdbcType=VARCHAR},
      </if>
      <if test="shippingAddress != null">
        #{shippingAddress,jdbcType=VARCHAR},
      </if>
      <if test="shippingZip != null">
        #{shippingZip,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByOrderId">
    update `order`
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="orderCost != null">
        order_cost = #{orderCost,jdbcType=DECIMAL},
      </if>
      <if test="orderPostage != null">
        order_postage = #{orderPostage,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderPayTime != null">
        order_pay_time = #{orderPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderSendTime != null">
        order_send_time = #{orderSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderEndTime != null">
        order_end_time = #{orderEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCloseTime != null">
        order_close_time = #{orderCloseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPayType != null">
        order_pay_type = #{orderPayType,jdbcType=INTEGER},
      </if>
      <if test="shippingName != null">
        shipping_name = #{shippingName,jdbcType=VARCHAR},
      </if>
      <if test="shippingPhone != null">
        shipping_phone = #{shippingPhone,jdbcType=VARCHAR},
      </if>
      <if test="shippingProvince != null">
        shipping_province = #{shippingProvince,jdbcType=VARCHAR},
      </if>
      <if test="shippingCity != null">
        shipping_city = #{shippingCity,jdbcType=VARCHAR},
      </if>
      <if test="shippingDistrict != null">
        shipping_district = #{shippingDistrict,jdbcType=VARCHAR},
      </if>
      <if test="shippingAddress != null">
        shipping_address = #{shippingAddress,jdbcType=VARCHAR},
      </if>
      <if test="shippingZip != null">
        shipping_zip = #{shippingZip,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
    and delete_time is null
  </update>
  <select id="selectByUserId" resultType="com.jvxie.goshop.model.Order">
    select
    <include refid="Base_Column_List" />
    from `order`
    where user_id = #{userId,jdbcType=BIGINT}
    and delete_time is null
  </select>
  <select id="selectByOrderId" resultType="com.jvxie.goshop.model.Order">
    select
    <include refid="Base_Column_List" />
    from `order`
    where order_id = #{orderId,jdbcType=BIGINT}
    and delete_time is null
  </select>
</mapper>