<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jvxie.goshop.mapper.ShippingMapper">
  <resultMap id="BaseResultMap" type="com.jvxie.goshop.model.Shipping">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shipping_id" jdbcType="BIGINT" property="shippingId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="shipping_name" jdbcType="VARCHAR" property="shippingName" />
    <result column="shipping_phone" jdbcType="VARCHAR" property="shippingPhone" />
    <result column="shipping_province" jdbcType="VARCHAR" property="shippingProvince" />
    <result column="shipping_city" jdbcType="VARCHAR" property="shippingCity" />
    <result column="shipping_district" jdbcType="VARCHAR" property="shippingDistrict" />
    <result column="shipping_address" jdbcType="VARCHAR" property="shippingAddress" />
    <result column="shipping_zip" jdbcType="VARCHAR" property="shippingZip" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shipping_id, user_id, shipping_name, shipping_phone, shipping_province, shipping_city, 
    shipping_district, shipping_address, shipping_zip, create_time, update_time, delete_time
  </sql>
  <select id="selectByUserId" resultType="com.jvxie.goshop.model.Shipping">
    select
    <include refid="Base_Column_List" />
    from shipping
    where user_id = #{userId,jdbcType=BIGINT}
    and delete_time is null
  </select>
  <select id="selectByUserIdAndShippingId" resultType="com.jvxie.goshop.model.Shipping">
    select
    <include refid="Base_Column_List" />
    from shipping
    where user_id = #{userId,jdbcType=BIGINT}
    and shipping_id = #{shippingId,jdbcType=BIGINT}
    and delete_time is null
  </select>
  <update id="deleteByShippingIdAndUserId" parameterType="map">
    update shipping
    set delete_time = CURRENT_TIMESTAMP
    where shipping_id = #{shippingId,jdbcType=BIGINT}
    and user_id = #{userId,jdbcType=BIGINT}
    and delete_time is null
  </update>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jvxie.goshop.model.Shipping" useGeneratedKeys="true">
    insert into shipping (shipping_id, user_id, shipping_name, 
      shipping_phone, shipping_province, shipping_city, 
      shipping_district, shipping_address, shipping_zip, 
      create_time, update_time, delete_time
      )
    values (#{shippingId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{shippingName,jdbcType=VARCHAR}, 
      #{shippingPhone,jdbcType=VARCHAR}, #{shippingProvince,jdbcType=VARCHAR}, #{shippingCity,jdbcType=VARCHAR}, 
      #{shippingDistrict,jdbcType=VARCHAR}, #{shippingAddress,jdbcType=VARCHAR}, #{shippingZip,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jvxie.goshop.model.Shipping" useGeneratedKeys="true">
    insert into shipping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shippingId != null">
        shipping_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="shippingName != null">
        shipping_name,
      </if>
      <if test="shippingPhone != null">
        shipping_phone,
      </if>
      <if test="shippingProvince != null">
        shipping_province,
      </if>
      <if test="shippingCity != null">
        shipping_city,
      </if>
      <if test="shippingDistrict != null">
        shipping_district,
      </if>
      <if test="shippingAddress != null">
        shipping_address,
      </if>
      <if test="shippingZip != null">
        shipping_zip,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shippingId != null">
        #{shippingId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="shippingName != null">
        #{shippingName,jdbcType=VARCHAR},
      </if>
      <if test="shippingPhone != null">
        #{shippingPhone,jdbcType=VARCHAR},
      </if>
      <if test="shippingProvince != null">
        #{shippingProvince,jdbcType=VARCHAR},
      </if>
      <if test="shippingCity != null">
        #{shippingCity,jdbcType=VARCHAR},
      </if>
      <if test="shippingDistrict != null">
        #{shippingDistrict,jdbcType=VARCHAR},
      </if>
      <if test="shippingAddress != null">
        #{shippingAddress,jdbcType=VARCHAR},
      </if>
      <if test="shippingZip != null">
        #{shippingZip,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByShippingId">
    update shipping
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="shippingName != null">
        shipping_name = #{shippingName,jdbcType=VARCHAR},
      </if>
      <if test="shippingPhone != null">
        shipping_phone = #{shippingPhone,jdbcType=VARCHAR},
      </if>
      <if test="shippingProvince != null">
        shipping_province = #{shippingProvince,jdbcType=VARCHAR},
      </if>
      <if test="shippingCity != null">
        shipping_city = #{shippingCity,jdbcType=VARCHAR},
      </if>
      <if test="shippingDistrict != null">
        shipping_district = #{shippingDistrict,jdbcType=VARCHAR},
      </if>
      <if test="shippingAddress != null">
        shipping_address = #{shippingAddress,jdbcType=VARCHAR},
      </if>
      <if test="shippingZip != null">
        shipping_zip = #{shippingZip,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where shipping_id = #{shippingId,jdbcType=INTEGER}
    and delete_time is null
  </update>
</mapper>