<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jvxie.goshop.mapper.UserOrderMapper">
  <resultMap id="BaseResultMap" type="com.jvxie.goshop.model.UserOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="shipping_id" jdbcType="VARCHAR" property="shippingId" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="order_pay_time" jdbcType="TIMESTAMP" property="orderPayTime" />
    <result column="order_send_time" jdbcType="TIMESTAMP" property="orderSendTime" />
    <result column="order_end_time" jdbcType="TIMESTAMP" property="orderEndTime" />
    <result column="order_close_time" jdbcType="TIMESTAMP" property="orderCloseTime" />
    <result column="order_pay_type" jdbcType="INTEGER" property="orderPayType" />
    <result column="order_all_cost" jdbcType="DECIMAL" property="orderAllCost" />
    <result column="order_real_cost" jdbcType="DECIMAL" property="orderRealCost" />
    <result column="order_discount" jdbcType="DECIMAL" property="orderDiscount" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, user_id, shipping_id, order_time, order_pay_time, order_send_time, 
    order_end_time, order_close_time, order_pay_type, order_all_cost, order_real_cost, 
    order_discount, order_status, create_time, update_time, delete_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jvxie.goshop.model.UserOrder" useGeneratedKeys="true">
    insert into user_order (order_id, user_id, shipping_id, 
      order_time, order_pay_time, order_send_time, 
      order_end_time, order_close_time, order_pay_type, 
      order_all_cost, order_real_cost, order_discount, 
      order_status, create_time, update_time, 
      delete_time)
    values (#{orderId,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{shippingId,jdbcType=VARCHAR}, 
      #{orderTime,jdbcType=TIMESTAMP}, #{orderPayTime,jdbcType=TIMESTAMP}, #{orderSendTime,jdbcType=TIMESTAMP}, 
      #{orderEndTime,jdbcType=TIMESTAMP}, #{orderCloseTime,jdbcType=TIMESTAMP}, #{orderPayType,jdbcType=INTEGER}, 
      #{orderAllCost,jdbcType=DECIMAL}, #{orderRealCost,jdbcType=DECIMAL}, #{orderDiscount,jdbcType=DECIMAL}, 
      #{orderStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleteTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jvxie.goshop.model.UserOrder" useGeneratedKeys="true">
    insert into user_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="shippingId != null">
        shipping_id,
      </if>
      <if test="orderTime != null">
        order_time,
      </if>
      <if test="orderPayTime != null">
        order_pay_time,
      </if>
      <if test="orderSendTime != null">
        order_send_time,
      </if>
      <if test="orderEndTime != null">
        order_end_time,
      </if>
      <if test="orderCloseTime != null">
        order_close_time,
      </if>
      <if test="orderPayType != null">
        order_pay_type,
      </if>
      <if test="orderAllCost != null">
        order_all_cost,
      </if>
      <if test="orderRealCost != null">
        order_real_cost,
      </if>
      <if test="orderDiscount != null">
        order_discount,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="shippingId != null">
        #{shippingId,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPayTime != null">
        #{orderPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderSendTime != null">
        #{orderSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderEndTime != null">
        #{orderEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCloseTime != null">
        #{orderCloseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPayType != null">
        #{orderPayType,jdbcType=INTEGER},
      </if>
      <if test="orderAllCost != null">
        #{orderAllCost,jdbcType=DECIMAL},
      </if>
      <if test="orderRealCost != null">
        #{orderRealCost,jdbcType=DECIMAL},
      </if>
      <if test="orderDiscount != null">
        #{orderDiscount,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jvxie.goshop.model.UserOrder">
    update user_order
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="shippingId != null">
        shipping_id = #{shippingId,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPayTime != null">
        order_pay_time = #{orderPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderSendTime != null">
        order_send_time = #{orderSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderEndTime != null">
        order_end_time = #{orderEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCloseTime != null">
        order_close_time = #{orderCloseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPayType != null">
        order_pay_type = #{orderPayType,jdbcType=INTEGER},
      </if>
      <if test="orderAllCost != null">
        order_all_cost = #{orderAllCost,jdbcType=DECIMAL},
      </if>
      <if test="orderRealCost != null">
        order_real_cost = #{orderRealCost,jdbcType=DECIMAL},
      </if>
      <if test="orderDiscount != null">
        order_discount = #{orderDiscount,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jvxie.goshop.model.UserOrder">
    update user_order
    set order_id = #{orderId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=VARCHAR},
      shipping_id = #{shippingId,jdbcType=VARCHAR},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      order_pay_time = #{orderPayTime,jdbcType=TIMESTAMP},
      order_send_time = #{orderSendTime,jdbcType=TIMESTAMP},
      order_end_time = #{orderEndTime,jdbcType=TIMESTAMP},
      order_close_time = #{orderCloseTime,jdbcType=TIMESTAMP},
      order_pay_type = #{orderPayType,jdbcType=INTEGER},
      order_all_cost = #{orderAllCost,jdbcType=DECIMAL},
      order_real_cost = #{orderRealCost,jdbcType=DECIMAL},
      order_discount = #{orderDiscount,jdbcType=DECIMAL},
      order_status = #{orderStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>